@model SupermercadoSA.Models.Satisfy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Satisfy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MR.MRID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MR.MRID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verification.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verification.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatisfyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
