@model SupermercadoSA.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characteristic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Characteristic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
