@model IEnumerable<SupermercadoSA.Models.Batch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.RNPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Characteristic.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MR.Number)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.RNPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Characteristic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MR.Number)
        </td>
    </tr>
}

</table>
